@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Poppins&family=STIX+Two+Text:wght@700&display=swap");

@font-face {
  font-family: "Satoshi";
  src: url("../SatoshiVariable.ttf");
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../ClashDisplay.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
